*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}